@import "../../styles.scss";

.folder {
    padding: 0 30px 0 30px;
    display: flex;
    height: 35px;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    .name {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .star {
        margin-left: auto;
        cursor: pointer;
        color: $text-dark;
    }
}

.selected {
    color: $primary;
    background: $light-1;
}

// CustomFolder.tsx

.customFolder {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 30px 0 30px;
    gap: 15px;

    .innerFolder {
        padding: 0 !important;
        width: 100%;
    }

    .elipsis {
        margin-left: auto;
    }

    .reorder {
        cursor: move;
    }
}
