@import "../../styles.scss";

.folder {
    padding: 0 30px 0 30px;
    display: flex;
    height: 35px;
    align-items: center;
    gap: 15px;
    cursor: pointer;

    &:hover:not(.selected) {
        box-shadow: inset 0px -5px 8px -7px rgba(0, 0, 0, 0.3);
    }

    .name {
        display: flex;
        gap: 15px;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .star {
        margin-left: auto;
        cursor: pointer;
        color: $text-dark;
    }
}

.selected {
    color: $primary;
    background: $light-1;
}

// CustomFolder.tsx

.customFolder {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 30px 0 30px;
    gap: 15px;

    &:hover:not(.selected) {
        box-shadow: inset 0px -5px 8px -7px rgba(0, 0, 0, 0.3);
    }

    .innerFolder {
        padding: 0 !important;
        width: 100%;
        box-shadow: none !important;
    }

    .elipsis {
        margin-left: auto;
    }

    .reorder {
        cursor: move;
    }
}
