@import "../../styles.scss";

.icon {
    aspect-ratio: 1/1;

    &[data-size="md"] {
        width: $icon-md;
        height: $icon-md;
    }
    &[data-size="lg"] {
        width: $icon-lg;
        height: $icon-lg;
    }
}
